<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Banner</title>
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <div id="header">
      <img src="/assets/images/emotiguy-bola-amarilla.gif" alt="banner img" />
      <span>Berny's web site</span>
      <span class="mirror-image">
        <img src="/assets/images/emotiguy-bola-amarilla.gif" alt="banner img" />
      </span>
    </div>
    <div id="headerArea">
      <nav id="navbar" style="margin-bottom: 10px">
        <ul>
          <li><a href="/index.html" target="_top">Home</a></li>
          <li><a href="/career.html">Career</a></li>
          <li><a href="/skills.html" target="_top">Skills</a></li>
          <li><a href="#">Projects</a></li>
        </ul>
      </nav>
    </div>
  </body>
</html>
