<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <footer id="footer" >
      <a href="https://github.com/liquidberny" target="_blank">
        <img src="/assets/images/icons/github.png" alt="github logo">
      </a>
      <a href="https://www.linkedin.com/in/berny-urquijo" target="_blank">
        <img src="/assets/images/icons/linkedin.png" alt="linkedin logo">
      </a>
      <a href="https://discord.com/users/berny0357" target="_blank">
        <img src="/assets/images/icons/discord.png" alt="github logo">
      </a>
      </footer>
  </body>
</html>
