<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <footer id="footer" >
        <img src="/assets/images/icons/github.png" alt="github logo">
        <img src="/assets/images/icons/linkedin.png" alt="linkedin logo">
        <img src="/assets/images/icons/discord.png" alt="github logo">
      </footer>
  </body>
</html>
