#career {
  width: 90%;
  display: flex;
  align-items: center;
}
#career a {
  width: 25%;
}
#career img {
  width: 100%;
}
.text {
  width: 75%;
  margin: 5px;
}
@media only screen and (max-width: 800px) {
  #career {
    flex-wrap: wrap;
    justify-content: center;
  }
  h3{
    text-align: center;
  }
  #career a {
    width: 35%;
  }
}
